.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  .cross {
    width: 24px;
    height: 24px;
    background-color: red;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    margin: 32px 0 0 32px;
  }
  .chart {
    width: 800px;
    margin: auto;
    border: 2px solid #404042;
    background-color: #18181ce6;
    padding: 20px;
    border-radius: 16px;
    .graph {
      width: 760px;
      height: 300px;
    }
    .name {
      display: flex;
      align-items: center;
      margin: 16px;
      gap: 16px;
      img {
        width: 32px;
        height: 32px;
      }
      p {
        font-size: 24px;
      }
    }
    .types {
      display: flex;
      justify-content: center;
      gap: 16px;
      button {
        width: 128px;
        height: 32px;
        background-color: #18181cdb;

        border-radius: 8px;
        border: 1px solid #3874ff;
        color: #3874ff;
        cursor: pointer;
      }
      .selected {
        background-color: #3874ff;
        color: #fff;
      }
    }
    .details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 16px;
      div {
        display: flex;
        flex-direction: row;
        gap: 6px;
        p {
          color: #3744ff;
        }
      }
    }
  }
}
