.searchBox {
  margin-top: 60px;
  position: relative;
  input {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    padding-left: 16px;
    background-color: #2f2e2e;
    outline: none;
    border: none;
    color: #fff;
  }
  select {
    background-color: #504f4f;
    border-radius: 8px;
    height: 38px;
    margin-left: 16px;
  }
  .searchResult {
    position: absolute;
    top: 46px;
    width: 300px;
    text-align: center;
    height: 300px;
    overflow-y: scroll;
    border-radius: 8px;
    background-color: #18181c;
    border: 2px solid #22262e;
    .oval {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    li {
      list-style: none;
      display: flex;
      gap: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid #22262e;
      padding: 8px 0 8px 8px;
    }
  }
  ::-webkit-scrollbar {
    background: transparent;
    width: 0;
  }
}
