tr {
  height: 80px;
  border-bottom: 1px solid #22262e;
  font-weight: 600;
}
.coin-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  img {
    width: 24px;
    height: 24px;
  }
  p {
    font-size: 1.2rem;
  }
}
.success {
  color: #57bc7c;
}
.error {
  color: #d33636;
}
@media (max-width: 600px) {
  tr {
    padding: 0 12px;
  }
}
